{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torch Timer</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block styles %}
    {% endblock %}
</head>


<body>
    <header id="navbar"> 
        <div id="nav-left">
            Shadowdark Utils
        </div>
        <div id="nav-mid">
        </div>
        <div id="nav-right">
            <a href="{% url 'frontpage' %}" class="nav-link active">Home</a>
            <a href="{% url 'timers' %}" class="nav-link">Timers</a>
            <div>|</div>

            <!-- User logout -->
            {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <!-- <button class="button is-danger" type="submit">Log out</button> -->
                <a href='#' class="nav-link" onclick='this.parentNode.submit(); return false;'>Log out</a>
            </form>
            <!-- User login -->
            {% else %}
            <a href="{% url 'signup' %}" class="button is-primary"><strong>Sing up</strong></a>
            <a href="{% url 'login' %}" class="button is-light">Log in</a>
            {% endif %}
        </div>
    </header>
    <section class="section">
        {% block content %}
        DEFAULT BASE CONTENT
        {% endblock %}
    </section>

    {% block scripts %}
    {% endblock %}
</body>

</html>
