{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torch Timer</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block styles %}
    {% endblock %}
</head>


<body>
<div class="App container">
    <header>
        <h1 class="mainHeader border-bottom">Rhubarut's Utils</h1>
    </header>

    {% with this_url=request.path %}
    <ul class="nav border-bottom">
        <!-- <li class="nav-item"> -->
        <!--     {{ this_url }} -->
        <!-- </li> -->
        <li class="nav-item">
            <a href="{% url 'frontpage' %}" class="nav-link {% if '/' == this_url %}nav-active {% endif %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'timers' %}" class="nav-link {% if '/timers/' in this_url %} nav-active {% endif %}">
                Timers
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'timers' %}" class="nav-link {% if '/initiative/' in this_url %} nav-active {% endif %}">
                Initiative
            </a>
        </li>
        <li class="nav-item">
            <!-- User logout -->
            {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <a href='#' class="nav-link" onclick='this.parentNode.submit(); return false;'>Log out</a>
            </form>
            <!-- User login -->
            {% else %}
            <a href="{% url 'login' %}" class="nav-link">Log in</a>
            {% endif %}
        </li>
    </ul>
    {% endwith %}


    {% block content %}
    DEFAULT BASE CONTENT
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</div>
</body>

</html>
