/*

TemplateMo 599 Noir Fashion

https://templatemo.com/tm-599-noir-fashion

*/

@charset "utf-8";
/* CSS Document */

/* * { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	box-sizing: border-box; */
/* } */

:root {
	--primary: #0a0a0a;
	--accent: #ff3366;
	--accent-hover: #ff1149;
	--text-light: #fefefe;
	--text-muted: #999;
	--bg-dark: #030103;
	--bg-section: #0a0a0a;
}

html {
	scroll-behavior: smooth;
}

section {
    padding: 20px;
}

body {
	font-family: 'Arial', sans-serif;
	background: var(--bg-dark);
	color: var(--text-light);
	overflow-x: hidden;
}


/* Navigation */
nav {
	/* position: fixed; */
	width: 100%;
	padding: 20px 50px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.95);
}

nav.scrolled {
	padding: 15px 50px;
	background: rgba(0, 0, 0, 0.98);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
	flex-wrap: wrap;
	gap: 20px;
}

.logo-link {
	display: flex;
	align-items: left;
	text-decoration: none;
}

.logo-link:hover {
	transform: scale(1.05);
}

.logo-text {
	font-size: 28px;
	font-weight: 900;
    color: var(--text-light);
}

.nav-links {
	display: flex;
	gap: 30px;
	list-style: none;
	align-items: right;
}

.nav-links a {
	color: var(--text-light);
	text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	padding: 5px 10px;
	opacity: 0.7;
}

.nav-links a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--accent);
	opacity: 0;
	transform: skewX(-10deg);
	z-index: -1;
}

.nav-links a:hover {
    color: var(--accent-hover);
	opacity: 1;
}

.nav-links a:hover::before {
	opacity: 1;
}

.nav-links a.active {
	color: white;
	opacity: 1;
}

.nav-links a.active::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 2px;
	background: var(--accent);
}

p {
    margin-bottom: 8px;
}


button {
  border: 1px solid #fdfdfd;
  border-radius: 4px;
  background-color: #030303;
  padding: 5px;
  color: var(--text-light);
  transition: 0.2s;
}

button:hover {
  background-color: #333333;
}


select {
  border: 1px solid #fdfdfd;
  border-radius: 4px;
  background-color: var(--bg-dark);
  padding: 5px;
  color: var(--text-light);
  transition: 0.2s;
}

input[type=text] {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  background-color: var(--bg-dark);
  padding: 6px;
  color: var(--text-light);
  outline: none; 
  transition: 0.2s;
}

input[type=text]:focus {
  border: 1px solid #fdfdfd;
  background-color: #232323;
}
