{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="title">Edit timer - {{ timer.title }}</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        
        <div class="">
            <button type="submit" class="button is-primary">Submit</button>
            <!-- <button type="cancel" class="button is-danger">Cancel</button> -->
            <a class="button" href="{{request.META.HTTP_REFERER|escape}}">Back</a>
        </div>
    </form>

</div>
{% endblock %}
