{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/timer_card.css' %}">
{% endblock %}

{% block content %}

{{ timer.id|json_script:"timer-id" }}
{{ is_running|json_script:"is-running" }}

<div class="timer-part">
    <!-- First Timer -->
    <div class="container">
        <div>
            <table>
                <tr class="title">
                    <th>Timer:</th>
                    <td>{{ timer.title|capfirst }}</td>
                <tr>
                <tr>
                    <th>Author:</th>
                    <td>{{ timer.created_by|capfirst }}</td>
                <tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ timer.status }}</td>
                <tr>
                {% if request.user.is_authenticated and request.user == timer.created_by %}
                <tr>
                    <th>Duration:</th>
                    <td id="real-duration">{{ timer.effective_duration }}</td>
                </tr>
                {% endif %}

                <tr>
                    <td colspan="2">
                    <progress id="timer-bar" value="30" max="30"></progress>
                    </td>
                </tr>
            </table>
        </div>

        {% if request.user.is_authenticated and request.user == timer.created_by %}
        <div class="footer">
            <!-- Buttons Row -->
            <button id='time-add' class="timer-button">+10 mins</button>
            <button id='time-subtract' class="timer-button">-10 mins</button>
            <button class="timer-button" onclick="location.href='{% url 'timer_edit' timer.id %}'">
                Edit
            </button>
        </div>
        {% endif %}
    </div>

    <!-- Second timer -->
</div>


{% endblock %}


{% block scripts %}
<script>
    // Notifications & Audio
    let promise = Notification.requestPermission();

    function playSound() {
        var audio = new Audio('/static/sounds/new-notification-09.mp3');
        audio.play();
    }

    // Update timer locally
    var period = 5
    const container = document.getElementById('square-container');
    const timerBar = document.getElementById('timer-bar');
    var seconds_left = JSON.parse("{{seconds_left | escapejs }}");
    const is_running = JSON.parse(document.getElementById('is-running').textContent);
    console.log((seconds_left / 60).toFixed(3));

    var real_dur_div = null;

    function updateRealDuration() {
        if (real_dur_div == null) {
            return null;
        }

        let minutes = Math.floor(seconds_left / 60);
        let seconds = Math.floor(seconds_left % 60);
        real_dur_div.innerText = String(minutes).padStart(2, '0') + ":" + String(seconds).padStart(2, '0');
        return real_dur_div.innerText;
    }

    {% if request.user.is_authenticated and request.user == timer.created_by %}
    var period = 1
    var real_dur_div = document.getElementById('real-duration');
    updateRealDuration();
    {% endif %}

    var interval = null;
    if (is_running == true) {
        interval = setInterval(updateTime, period * 1000)
    }

    function updateTimerBar() {
        var timer_value = seconds_left / 60 / 2;
        console.log("Timer Value", timer_value);

        if (timer_value > timerBar.max) {
            timerBar.value = timerBar.max;
            updateRealDuration();
        } else if (timer_value <= 0) {
            timerBar.value = 0;
            seconds_left = 0;
            updateRealDuration();
        } else {
            timerBar.value = timer_value;
        }
    }


    function updateTime() {
        seconds_left -= period;
        updateTimerBar();
        updateRealDuration()
        if (seconds_left <= 0 && interval) {
            clearInterval(interval);
            playSound();
            alert('Timer ' + timerId + ' timeout!')
            console.log('Timer ' + timerId + ' timeout!')
            return;
        }
    }

    updateTimerBar();


    // WebSocket
    const timerId = JSON.parse(document.getElementById('timer-id').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/timer/detail/'
        + timerId
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        seconds_left += data.time_delta;
        updateTimerBar();
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    {% if request.user.is_authenticated and request.user == timer.created_by %}
    document.querySelector('#time-add').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'message': 60*10.0
        }));
    };
    document.querySelector('#time-subtract').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'message': 60*(-10.0)
        }));
    };
    {% endif %}
</script>
{% endblock %}
