{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/timer_card.css' %}">
{% endblock %}

{% block content %}
<div>
    <h2>Timers</h2>

    {% if request.user.is_authenticated %}
        <a href="{% url 'timer_add' %}" class="btn btn-outline btn-dark">Add timer</a>
    {% endif %}
</div>

<div class="timer-grid">
    {% for timer in timers %}
    <div class="timer-container">
            <strong>{{ timer.title }}</strong> [<em>{{ timer.status }}</em>]
            <br>
            <strong>Author:</strong> {{ timer.created_by|capfirst }}
            <br>
            <strong>Left:</strong> {{ timer.get_duration_minutes|floatformat:0 }}
                minute{{ timer.get_duration_minutes|floatformat:0|pluralize }}

            <div class="timer-footer">
                <a href="{% url 'timer_detail' timer.id %}" class="btn btn-outline">
                    View
                </a>
                {% if request.user.is_authenticated and request.user == timer.created_by %}
                <a href="{% url 'timer_edit' timer.id %}" class="btn btn-outline">
                    Edit
                </a>
                {% endif %}
            </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
