{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/timer_card.css' %}">
{% endblock %}

{% block content %}


<div class="timer-part">
    <!-- First Timer -->
    <div class="timer-container border">
        <div>
            <table>
                <tr class="title">
                    <th>Timer:</th>
                    <td>{{ timer.title|capfirst }}</td>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td>{{ timer.created_by|capfirst }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ timer.state }}</td>
                </tr>
                <tr>
                    <th>Duration:</th>
                    <td id="real-duration">{{ timer.duration }}</td>
                </tr>

                <tr>
                    <td colspan="2">
                    <progress id="timer-bar" value="30" max="30"></progress>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}
    {{ timer.id|json_script:"timer-id" }}
    {{ timer.state|json_script:"timer-status" }}
    {{ seconds_left|json_script:"seconds-left" }}

    <script src="{% static 'js/timer_detail.js' %}"></script>
{% endblock %}
