{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/timer_card.css' %}">
{% endblock %}

{% block content %}


<div class="timer-part">
    <!-- First Timer -->
    <div class="timer-container border">
        <div>
            <table>
                <tr class="title">
                    <th>Timer:</th>
                    <td>{{ timer.title|capfirst }}</td>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td>{{ timer.created_by|capfirst }}</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>{{ timer.status }}</td>
                </tr>
                <tr>
                    <th>Duration:</th>
                    <td id="real-duration">{{ timer.effective_duration }}</td>
                </tr>

                <tr>
                    <td colspan="2">
                    <progress id="timer-bar" value="30" max="30"></progress>
                    </td>
                </tr>
            </table>
        </div>

        <div class="timer-footer">
            <!-- Buttons Row -->
            <button id='time-pause' class="btn btn-outline" {% if timer.status == "Paused" %}hidden{% endif %}>
                Pause
            </button>
            <button id='time-start' class="btn btn-dark btn-outline" {% if timer.status == "Running" %}hidden{% endif %}>
                Start
            </button>

            <button id='time-add' class="btn btn-outline">
                +5 mins
            </button>
            <button id='time-subtract' class="btn btn-outline">
                -5 mins
            </button>
            <button class="btn btn-outline" onclick="location.href='{% url 'timer_edit' timer.id %}'">
                Edit
            </button>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}
    {{ timer.id|json_script:"timer-id" }}
    {{ timer.status|json_script:"timer-status" }}
    {{ seconds_left|json_script:"seconds-left" }}

    {{ request.user.username |json_script:"user-token" }}

    <script src="{% static 'js/timer_detail.js' %}"></script>
{% endblock %}
